body {
    background: #374151;
}

.glass {
    color: white;
    background: #27272a;
}

.custom-form {
    color: white;
}

.custom-form input {
    background: #374151;
    color: white;
    outline: #e58d27;
    border-color: #e58d27;
}

.custom-form input:focus {
    background: #374151;
    color: white;
    outline: #e58d27;
    border-color: #f5c944 !important;
    box-shadow: 0 0 0 0.2rem rgb(211 157 37 / 25%);
}

.btn-yellow {
    background: #e58d27;
}

.btn-yellow:hover {
    background: #f5c944;
}

.back-btn {
    color: white;
    font-size: 2rem;
    line-height: 64px;
}

.back-btn:hover {
    color: #f5c944;
}

#forgetPassword {
    color: #e58d27;
    text-align: right;
    margin-bottom: 15px;
}

#forgetPassword:hover{
    color: #f5c944;
    text-align: right;
    margin-bottom: 15px;
}

#signUpText {
    text-align: center;
    margin-top: 15px;
}

#signUpText a{
    color: #e58d27;
}

#signUpText a:hover{
    color: #f5c944;
}
